main{ 
    width: 98vw;
    height: auto;
    margin: 0px auto;
}

.card-banners {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 400px;
    margin-top: 70px;
    background: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.swiper-pagination-bullet{
    background-color: var(--details);
    width: 10px; height: 10px;
    margin: 0;
}

.cards-produtos{
    width: 92%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

.card{
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 3px rgb(244, 244, 244);
    max-width: 250px;
    height: 450px;
    padding: 5px; margin: 18px 0px;
}

.card img{
    display: block;
    width: 200px; height: 200px;
    margin: 15px auto;
    border: 0.5px solid rgb(219, 219, 219);
    box-shadow: inset 1px 1px 1px 1px rgb(219, 219, 219);
    cursor: pointer;
}

.card-title{
    font-size: 14pt;  
    width: 96%; margin: 15px auto;
    font-weight: 600;
}

.card-stars{
    color: yellow;
    margin: 15px 0px;
    width: 90%; margin: 0px auto;
}

.card-risk{
    color: gray;
    font-size: 12pt;
    text-decoration: line-through;
    width: 90%; margin: 10px auto 0px auto;
}

.card-preco{
    position: absolute;
    bottom: 0;
    font-size: 20pt;
    font-weight: bold;
    width: 90%; margin: 0px auto 62px auto;
    padding: 5px 18px 12px 18px;
}

.card-button{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: block;
    background-color: var(--bg-sections);
    border: none;
    border-radius: 16px;
    padding: 9px 25px;
    width: 68%; margin: 10px auto 20px auto;
    color: white;
    font-size: 5pt;
    transition: letter-spacing 4s ease, background-color 2s ease;
}

.card-button:hover{
    background-color: var(--details);
    letter-spacing: .3px;
    cursor: pointer;
}

