main{
    width: 100vw;
    height: alto;
    margin: 41px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    overflow-x: scroll;
    white-space: nowrap;
    height: 420px;
}

.slider img{
    width: 98vw;
}

.slide{
    display: inline-block;
    width: 100%;
    height: 350px;
    margin-right: 5px;
    background-color: var(--bg-ofc); 
}

.slider:hover{
    overflow-x: auto;
    transition: all 1s ease;
}

.slider::-webkit-scrollbar{
    display: none;
}
