/*media para dispositivos moveis*/
@media only screen and (max-width: 768px) {
    /*!Hearder*/
    nav{
        display: grid;
        grid-template-columns: 0.8fr 0.1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "um dois dois" 
        "tres quatro quatro";
        width: 99vw;
        height: 120px;
    }

    section.title_logo{
        background-image: url('../assets/icons/logos/menor.png');
        background-position: left; margin-left: 2px;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%; height: 75px;
        grid-area: um;
        justify-self: center;
    }

    section.icons{ 
        grid-area: dois;
        justify-self: end;
    }

    section.search{ 
        grid-area: tres;
        width: 180%;
        height: 45px;

    }

    .input{ 
        width: 100%; height: 80%;
        max-width: 650px;
    }
    
    .input input{
        width: 80%; height: 18px;
    }

    ::placeholder{
        color:#7f7f7f;
    }

    .input input[type="text"]{
        color: rgb(82, 82, 82);
        font-size: 1rem;
    }
    
    section.buy{
        grid-area:quatro;
        margin-top : -8px;
        justify-self: end;
    }
    
    section.buy  img{
        width: 50px; height: 50px;
    }

    /*! Para a animação das marcas*/
    body.no-scroll {
        overflow: hidden;
    }

    .links {
        animation: scroll 15s linear infinite;
        margin-top: 25px;
        overflow: hidden; 
    }

    /* Animação de deslizamento */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    /*! Main */
    .card-banners{
        height: 200px;
    }

    .swiper-slide img{
        margin-top: 25px;
    }

    .cards-produtos{
        grid-template-columns: repeat(3,1fr);
    }

    .card-risk, .card-title, .card-stars{
        font-size: 8pt;
    }

    .card{
        height: 310px;
    }

    .card img{
        width: 110px; height: 110px;
    }

    .card-preco{
        font-size: 13pt;
        padding: 0px;
        margin-bottom: 50px;
    }

    .card-button{
        padding: 9px 2px;
        font-size: 2pt;
        width: 78%;
        margin: 8px auto;
    }

/*
    .card-title{
        font-size: 8pt;
    }

    .card-stars{
        font-size: 8pt;
    }
    
    .card-risk{
        font-size: 8pt;
    }*/
}

/*! Para trancar a rolagem horizontal */
.no-horizontal-scroll {
    overflow-x: hidden;
  }    