@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

:root{
    --bg-ofc: #ffffff/*#e7e7e7*/;
    --bg-sections: #4B3F72;
    --details: #4B3F72;
}

*{
    box-sizing: border-box;
}