@media only screen and (max-width: 700px) {

    body{
        background-image: none;

    }

    .interface{
        background-color: black;
    }

    .header img{    
        margin: 2rem;
    }

    .main-login{
        width: 100%;
        margin: 0px;
    }

    .main-login__form{
        margin: 0px auto; padding: 0px;
        width: 80%;
    }

    

}