

body{
    background-image: url("../assets/bg.jpg");
}

.interface{
    display: flex;
    justify-content: space-between;
    height: 160vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.header img{
    width: 6.25rem; 
    height: 2.5rem;
    margin: 2rem 0rem 0rem 12.5rem;
}

.main{ 
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 31.25rem;
    margin: auto;
    height: auto; 
}

.main-login{
    background-color: yellow;
    width: 20rem;

}