@media (max-width: 700px) {
    .header-navigation img{
        width: 7%;
    }

    .header-navigation li{
        font-size: 8pt;
        padding-left: 15px;
    }

    .header-main{
        width: 80%;
    }

    .header-main__title{
        font-size: 40pt;
        margin: 7.88rem 0rem 2rem 0rem;
    }

    .header-main__title span{
        font-size: 25pt;
    }

    .header-main__subtitle{
        width: 80%;
        margin-bottom: 2rem;
    }

    .header-main__p{
        margin-top: 3rem;
        font-size: 1pt;
    }

    .header-main__button{
        margin: 3.50rem 0rem;
        padding: 12px 10%;
    }
}