@media (max-width: 700px) {
    .header-navigation img{
        width: 7%;
    }

    .header-navigation li{
        font-size: 8pt;
        padding-left: 15px;
    }

    .header-main{
        width: 80%;
    }

    .header-main__title{
        font-size: 40pt;
        margin: 7.88rem 0rem 2rem 0rem;
    }

    .header-main__title span{
        font-size: 25pt;
    }

    .header-main__subtitle{
        width: 80%;
        margin-bottom: 2rem;
    }

    .header-main__p{
        margin-top: 3rem;
        font-size: 1pt;
    }

    .header-main__button{
        margin: 3.50rem 0rem;
        padding: 20px 8%;
    }

    .main-content__um{
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }

    .main-content__um img, .content-um__text, .content-um__title, .content-um__p{
        margin: 0px; padding: 20px 20px 10px 20px;
    }

    .content-um__button{
        margin-left: 2rem;
        padding: 10px 8%;
    }

}