@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@font-face {
    font-family: 'walking';
    src: url(../assets/fonts/chernobyl/Chernobyl.otf);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'normal';
    src: url('../assets/fonts/vampire_wars/Vampire\ Wars.otf');
    font-weight: normal; 
    font-style: normal;
}

body{
    width: 100%;
    background-color: #1B1B1B;
    background-image: url(../assets/fundo.jpg);
    background-repeat: no-repeat; 
    background-position-x: center;

}

.header-content{
    color: white;
    height: auto;
    padding: 0.625rem;
    margin: 0rem auto;
    width: 94%;
}

.header-navigation{
    margin-top: 0.6rem;
}

.header-navigation img{
    width: 3%; height: 0.5%;
    margin-left: 1.5rem;
}

.header-navigation ul{
    float: right;
}

.header-navigation li{
    display: inline-block;
    padding-left: 1.563rem;
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: 0.125rem;
    font-family: normal;
    text-transform: uppercase;
}

.header-navigation li:hover{
    color: #efefef;
    text-decoration: underline;
    cursor: pointer;
}

.header-main__title{
    font-size: 48pt;
    font-family: 'walking';
    background-image: url(../assets/texturas/textura.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    font-family: 'walking';
    letter-spacing: 3px;
}

.header-main__title span{
    font-size: 32pt;
}

.header-main__subtitle{
    font-family: 'walking';
    color: #4C362B;
}