@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    width: 100%;
    background-color: #1B1B1B;
    background-image: url(../assets/fundo.jpg);
    background-repeat: no-repeat; 
    background-position-x: center;

}

.header-content{
    color: var(--color_01);
    height: auto;
    padding: 0.625rem;
    margin: 0rem auto;
    width: 94%;
}

.header-navigation{
    margin-top: 0.6rem;
}

.header-navigation img{
    width: 3%; height: 0.5%;
    margin-left: 1.5rem;
}

.header-navigation ul{
    float: right;
}

.header-navigation li{
    display: inline-block;
    padding-left: 1.563rem;
    font-size: 12pt;
    font-weight: 600;
    letter-spacing: 0.125rem;
    font-family: normal;
    text-transform: uppercase;
}

.header-navigation li:hover{
    color: #efefef;
    text-decoration: underline;
    cursor: pointer;
}

.header-main{
    width: 50%;
    margin: 3rem;
}


.header-main__title{
    background-image: url(../assets/texturas/textura.webp);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 70pt;
    font-family: 'walking';
    letter-spacing: 3px;

}

.header-main__title span{
    font-size: 44pt;
    margin-left: 1rem;
}

.header-main__subtitle{
    width: 40%;
    margin: 2rem 0rem;
    background-image: url(../assets/texturas/textura.webp);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    font-family: 'walking';
    font-size: 10pt;
    letter-spacing: 0.125rem;
}

.header-main__p{ 
    width: 80%;
    color: var(--color_01);
    font-size: 8pt;
    font-family: 'normal';
    letter-spacing: 2px;
}

.header-main__button{
    background-image: url(../assets/icon/icon_play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    width: 25px;
    color: var(--color_01);
    border: none;
    border-radius: 18px;
    font-size: 0pt;
    padding: 30px 5%;
    margin: 5rem 0rem;
    transition: width 1s ease-out, color 1s ease-out;
}

.header-main__button:hover{
    cursor: pointer;
    background-image: none;
    width: 40%;
    font-size: 8pt;
    font-family: 'normal';
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--color_01);
    padding: 18px 5%;
}

.main-content__um{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

.main-content__um img{
    cursor: pointer;
    padding: 20px 0px;
    margin-left: 50px ;
}

.content-um__text{
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}

.content-um__title{
    margin: 0px 0px 10px 5px;
    color: var(--color_01);
    font-family: 'normal';
    font-size: 34pt;
}

.content-um__p{
    width: 80%;
    margin-top: 1rem;
    color: var(--color_01);
    font-family: 'texts';
    letter-spacing: 3px;
    font-size: 7pt;
}

.content-um__button{
    background-color: transparent;
    color: var(--color_01);
    font-family: 'normal';
    font-size: 15pt;
    border: 2px solid #5d4c3e;
    border-radius: 20px;
    padding: 15px 10%;
    margin-top: 2rem;
    transition: background-color 1s ease-out;
}

.content-um__button:hover{
    background-color: #5d4c3e;
    cursor: pointer;
}

.main-content__dois{ 
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.main-content__dois img{
    margin-left: 2rem;
    cursor: pointer; 
}

.content-dois__text{
    margin-top: 3.9rem ;
    color: var(--color_01);
}

.content-dois__title{
    font-size: 34pt;
    font-family: 'normal';
    text-align: center;
}

.content-dois__p{
    font-family: 'texts';
    font-size: 9pt;
    text-align: center;
    letter-spacing: 2px;  
    width: 100%;
    margin: 2rem 0rem;
}

.content-dois__imgs img{
    width: 90px; height: 35px;
    padding: 30px 28px;
    cursor: pointer;
    transition: background-color 1s ease, border-radius 0.5s ease;
}

.content-dois__imgs img:hover{
    background-color: #151515;
    border: 2px solid white;
    border-radius: 10px;
}


.main-content__tres{
    width: 92%;
    margin: 0 auto;
    padding: 80px 0px ;
}

.content-tres__title{
    font-size: 34pt;
    color: var(--color_01);
    font-family: 'normal';
    text-align: center;
    margin: 60px auto;
}

.main-content__tres img{
    padding-left: 6rem;
}

.main-content__quatro{
    width: 88%;
    margin: 3rem auto; 
}

.content-quatro__title{
    text-align: center;
    color: var(--color_01);
    font-size: 34pt;
    font-family: 'normal';
    margin: 3rem 0rem;
}

.seasons{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 3rem;

}

.seasons__title{
    font-size: 25pt;
    color: var(--color_01);
    font-family: 'normal';
    margin: 2rem 0.75rem;
}

.seasons__texts{
    width: 98%;
    color: var(--color_01);
    font-family: 'texts';
    font-size: 5pt;
    letter-spacing: 3px;
    margin: 10px 0px;
}

