@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Kanit');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main#interface{
    margin: 0 auto;
    width: 100vw; height: 100vh;
    background-color: #121929;
    display: grid;
    grid-template-columns: 2fr 3fr;

}

section{
    grid-column: 1;
    margin: 0 auto;

}

img#logo{
    width: 200px;
    padding-top: 50px;
}

aside{
    grid-column: 2;
    
}

img{
    width: 100%;
    height: 800px;
}