body{
    margin: 0;
}

.interface{
    max-width: 100%;
    height: auto;
}

.header{
    background-image: url(../assets/bg--hulu.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.header .menu{
    width: 100%;  
    height: 80px;
}

.header .menu img{
    width: 120px;
    height: 60px;
    float: left;
}

.header .menu a{
    color: rgb(189, 189, 189);
    text-decoration: none;
    padding: 20px 40px 0px 0px;
    font-size: 12pt;
    font-weight: 700;
    float: right;
}

.header .content{
    width: 40%;
    margin: 0 auto;
}

.content .content-cards{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    
}

.content .content-card{
    text-align: center;
    width: 300px; 
    background-color: transparent;
    margin-top: 60px;
}

.content-card .card-title{ 
    color: var(--destaque);
    font-size: 10pt;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 11px;
}

.content-card img{
    width: 160px; 
    margin: 15px 0px;
}

.content-card .img{
    width: 200px; 
    margin: 15px 0px;
}

.content-card .card-subtitle{
    color: white;
    font-size: 20pt;
    font-weight: 600;
    width: 200px;
    margin: 0 auto;
}

.content-card button{
    background-color: var(--destaque);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 11pt;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: 18px 0px;
    width: 100%;
    transition: background-color 1s ease;
}

.content-card button:hover{
    cursor: pointer;
    background-color: #15e782cd;
}

.content .content-aside{
    background-color: transparent;
    text-align: center; 
    color: white;
    
}

.content-aside a{
    display: block;
}

.content-aside .sing{
    color: gray;
}

.content-aside .terms{
    color: white; 
    font-size: 14pt;
    text-transform: uppercase;
    padding: 50px 0px;
}

.content-aside p{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-aside img{
    margin: 30px 0px;
    padding: 20px 22px;
    border-radius: 100%;
    border: 1px solid white;
}