body{
    margin: 0;
}

.interface{
    max-width: 100%;
    height: auto;
}

.header{
    position: relative;
    background-image: url(../assets/bg--hulu.jpeg);
    background-size: cover; 
    background-position: center;/*
    background-repeat: no-repeat; */
    height: 100%;
}

.header .menu{
    width: 100%;  
    height: 80px;
}

.header .menu img{
    width: 121px;
    height: 65px;
    float: left;
    padding: 5px 9px;

}

.header .menu a{
    color: #d1caca;
    text-decoration: none;
    padding: 20px 40px 0px 0px;
    font-size: 13pt;
    font-weight: 900;
    float: right;
    padding: 28px 50px;

}

.header .content{
    width: 100%; 
}

.content .content-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin: 76px auto 0px auto;
    width: 670px;
}

.content .content-card{
    text-align: center;
}

.content-card .card-title{ 
   color: var(--destaque);
    font-family: Graphik Web, Graphik, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
}

.content-card .img1{
    width: 191px; 
    margin-top: 30px;
}

.content-card .img2{
    width: 90%; height: 58px;
    margin-top: 26px;

}

.content-card .card-subtitle{
    color: white;
    font-family: Graphik Web, Graphik, sans-serif;
    font-size: 24px;
    font-weight: 550; 
    line-height: 1.19;
    margin-top: 16px;
}

.content-card .card-subtitle span{
    font-size: 20pt;
}

.content-card button{
    background-color: var(--destaque);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 10pt;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 12px 0px;
    margin: 22px 0px;
    width: 100%;
    transition: background-color 1s ease;
}

.content-card button:hover{
    cursor: pointer;
    background-color: #15e782cd;
}

.content .content-aside{
    background-color: transparent;
    text-align: center; 
    color: white;
    
}

.content-aside a{
    display: block;
}

.content-aside .terms{
    color: gray;
    font-weight: 600;
}


.content-aside .sing{
    color: white; 
    font-size: 14pt;
    text-transform: uppercase;
    padding: 36px 0px;
}

.content-aside .sing:hover{
    color: var(--destaque);
}
.content-aside p{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-aside img{
    margin: 20px 0px 80px 0px;
    padding: 20px 22px;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
}
