.interface{
    background-color: lightgray;
}

.sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto; 
}

.section{
    background-color: white;
    width: 80%;
    height: 85vh;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.11);
}

.card{
    display: block;
    width: 84%;
    height: fit-content;
    margin: 20px auto;

}

.card__img{
    display: block;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    width: 220px;
    height: 200px;
}

.card__title{
    font-size: 14pt;
    font-weight: 700;
    margin: 10px 14px 50px 14px;
}

.card__preco-peq{
    font-size: 10pt;
    color: gray;
    font-weight: 700;
    margin-left:22px;
}

.card__preco{
    font-size: 22pt;
    font-weight: bold;
    margin-left: 22px;
}

.card__text{
    margin: 20px 0px 10px 18px;
    color: gray;
    font-weight: 600;
    font-size: 10pt;
}

.card ul{
    margin-left: 15px;
}

.card li{
    display: inline-block;
    padding: 0px 8px;
}

.card li>img{
    width: 38px;
    cursor: pointer;
}

.card__button{
    display: block;
    width: 90%; padding: 18px;
    margin: 20px auto;
    background-color: var(--bg-primaria);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.card__a{
    color: gray;
    text-transform: uppercase;
    text-align: center;
    font-size: 9pt;
}

.card__a:hover{
    cursor: pointer;
    text-decoration: underline;
}
