.interface{
    background-color: lightgray;
}

.sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto; 
}

.section{
    background-color: white;
    width: 80%;
    height: 85vh;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.11);
}

.card{
    display: block;
    width: 84%;
    height: fit-content;
    margin: 20px auto;

}

.card__img{
    display: block;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    width: 220px;
}

.card__title{
    font-size: 14pt;
    font-weight: 700;
    margin: 10px 14px 50px 14px;
}

.card__preco-peq{
    font-size: 10pt;
    color: gray;
    font-weight: 700;
    margin-left:22px;
}

.card__preco{
    font-size: 22pt;
    font-weight: bold;
    margin-left: 22px;
}

.card__text{
    margin: 20px 0px 10px 18px;
    color: gray;
    font-weight: 600;
    font-size: 10pt;
}

.card ul{
    margin-left: 15px;
}

.card li{
    display: inline-block;
    padding: 0px 8px;
}

.card li>img{
    width: 38px;
    cursor: pointer;
}

.card__button{
    display: block;
    width: 90%; padding: 18px;
    margin: 20px auto;
    background-color: var(--bg-primaria);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.card__a{
    color: gray;
    text-transform: uppercase;
    text-align: center;
}

.card__a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.card__hidden{
    position: absolute; display: block;
    width: 60%; height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    display: none;
    position: fixed;
}

.card__hidden-header{
    display: grid;
    grid-template-columns: 4fr 0.2fr;
    background-color: var();
    width: 100%; height: 8vh;
    border-radius: 10px 10px 0px 0px;
} 

.card__hidden-header h1{
    font-size: 20pt;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
}

.card__hidden-header img{
    padding: 15px 20px;
    cursor: pointer;
}

.card__hidden-content{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.card__hidden-img{
    width: 300px;
    margin: 0px 50px;
}

.card__hidden-content p {
    font-weight: 500;
    margin: 50px 20px;
}

.card__hidden-content table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    grid-column: 1 / span 2;
}
.card__hidden-content .tr__1 td {
    padding: 0px;
    color: black;
    font-weight: 600;
}
.card__hidden-content .tr__2 td  {
    padding: 10px 0px;
    color: gray;
    font-weight: 600;
}

.buy__hidden{
    position: absolute; 
    position: fixed;
    display: block;
    display: none;
    width: 60%; height: 80vh;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    border: 2px solid var(--bg-primaria);
    
}

.buy__header{
    display: grid;
    grid-template-columns: 4fr 0.2fr;
    background-color: var(--bg-primaria);
    width: 100%; height: 8vh;
    border-radius: 10px 10px 0px 0px;
}
.buy__header h1{
    font-size: 20pt;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
}

.buy__header img{
    padding: 15px 20px;
    cursor: pointer;
}

.buy__content{
    display: grid;
    grid-template-columns: 1.7fr 2fr;
}

.buy__content-aside-src{
    display: block;
    margin: 60px auto 8px auto;
    width: 250px;
}

.buy__content-form {
    width: 100%; 
}

.buy__content-form form{ 
    width: 100%; 
    margin: 20px auto;
}

.buy__content-form input{
    background-color: #F9F9F9;
    width: 17.5rem; height: 1rem;
    padding: 10px;
    margin: 8px auto;
    border-radius: 5px;
    border: 0.4px solid #939393;
}

.buy__content-form input:focus{
    outline: none;
    border: 2px solid var(--bg-primaria);
    background-color: white;
}

input::placeholder{
    text-align: left; color: rgb(177, 177, 177);
}


#cid{
    width: 10rem; height: 1rem;
    padding: 10px;
}

#cpf{
    width: 10rem; height: 1rem;
    padding: 10px;
}

#cpfCartao{
    width: 10rem; height: 1rem;
    padding: 10px;
}

#cep{
    width: 10rem; height: 1rem;
    padding: 10px;
}

#cvvCartao{
    width: 10rem; height: 1rem;
    padding: 10px;
}

.buy__content-aside-produto{
    width: 86%;
    margin: 30px auto;
    text-align: center;
    font-weight: 800;
    font-size: 13pt;
}

.buy__content-aside-preco{
    width: 40%;
    height: 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 13pt;
    background-color:  var(--bg-primaria);
    border: 3px solid var(--bg-secundaria);
    color: white;
    transition: border 4s ease;
    transition: border-radius 2s ease;
}

.buy__content-aside-preco:hover{
    border: 3px solid  var(--bg-primaria);
    border-radius: 8px;
}

#submit{
    display: block;
    width: 17rem; height: 3rem;
    margin: 40px auto;
    background-color: var(--bg-primaria);
    color: white;
    font-weight: 600;
    font-size: 12pt;
    border: 2px solid var(--bg-secundaria);
    transition: background-color 1s ease;
}

#submit:hover{
    cursor: pointer;
    background-color: var(--bg-secundaria);
    color: white;
}