.interface{
    background-color: lightgray;
}

.sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto; 
}

.section{
    background-color: white;
    width: 80%;
    height: 85vh;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.11);
}

.card{
    display: block;
    width: 84%;
    height: fit-content;
    margin: 20px auto;

}

.card__img{
    display: block;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    width: 220px;
}

.card__title{
    font-size: 14pt;
    font-weight: 700;
    margin: 10px 14px 50px 14px;
}

.card__preco-peq{
    font-size: 10pt;
    color: gray;
    font-weight: 700;
    margin-left:22px;
}

.card__preco{
    font-size: 22pt;
    font-weight: bold;
    margin-left: 22px;
}

.card__text{
    margin: 20px 0px 10px 18px;
    color: gray;
    font-weight: 600;
    font-size: 10pt;
}

.card ul{
    margin-left: 15px;
}

.card li{
    display: inline-block;
    padding: 0px 8px;
}

.card li>img{
    width: 38px;
    cursor: pointer;
}

.card__button{
    display: block;
    width: 90%; padding: 18px;
    margin: 20px auto;
    background-color: rgb(122, 182, 33);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 10pt;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.card__a{
    color: gray;
    text-transform: uppercase;
    text-align: center;
}

.card__a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.card__hidden{
    position: absolute; display: block;
    width: 60%; height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    display: none;
    position: fixed;
}

.card__hidden-header{
    display: grid;
    grid-template-columns: 4fr 0.2fr;
    background-color: rgb(0, 72, 255);
    width: 100%; height: 8vh;
    border-radius: 10px 10px 0px 0px;
} 

.card__hidden-header h1{
    font-size: 20pt;
    color: white;
    font-weight: 600;
    padding: 15px 20px;
}

.card__hidden-header img{
    padding: 15px 20px;
    cursor: pointer;
}

.card__hidden-content{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.card__hidden-img{
    width: 300px;
    margin: 0px 50px;
}

.card__hidden-content p {
    font-weight: 500;
    margin: 50px 20px;
}

.card__hidden-content table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    grid-column: 1 / span 2;
}
.card__hidden-content .tr__1 td {
    padding: 0px;
    color: black;
    font-weight: 600;
}
.card__hidden-content .tr__2 td  {
    padding: 10px 0px;
    color: gray;
    font-weight: 600;
}

.hidden__buy{
    display: none;
    background-color: black;
}